body {
  padding: 0;
  margin: 0;
  --c-light-blue: #9ee3f8;
  --c-mid-blue: #69aaca;
  --text: #808080;
  color: var(--text);
  font-family: muli, sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 35px;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: fit-content;
  /* background: linear-gradient(180deg, #1b84f6 0%, rgb(6, 91, 237) 100%); */
  background: var(--c-light-blue);
  background: -webkit-linear-gradient(
    top left,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  background: -moz-linear-gradient(
    top left,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  background: linear-gradient(
    to bottom right,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type='text'] {
  outline: none;
  border: none;
  background-color: white;
  width: 70%;
  height: 40px;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
}

textarea {
  outline: none;
  border: none;
  background-color: white;
  width: 90%;
  min-height: 60vh;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  font-family: muli, sans-serif;
}

input[type='submit'] {
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--c-light-blue);
  height: 35px;
  min-width: 35px;
  border: solid 1px var(--c-mid-blue);
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}

input[type='submit']:hover {
  background: white;
  border: solid 3px var(--c-mid-blue);
  transform: translate(0px, -3px);
}

input[type='submit']:active {
  background: rgba(153, 244, 200, 0.633);
  transition: ease-out;
  height: 33px;
}

.glass {
  background: white;
  min-height: 95vh;
  width: 95%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 25px;
  display: flex;
}

.notes-preview-container {
  background: white;
  flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.05)
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.preview-header {
  background: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10%;
}

.preview-container {
  flex: 9;
}

.preview {
  // display: grid;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
  justify-items: start;
  // flex-direction: column;
  // justify-content  : start;
  // align-items: center;
}

.note-container {
  background: transparent;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.note {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-header {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.note-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.note-title {
  padding-left: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.title {
  font-size: 20px;
  text-align: left;

  padding-left: 20px;
}

.note-body {
  margin-top: 20px;
  padding-left: 20px;
  flex: 9;
}

.preview-card {
  width: 80%;
  height: 110px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  .preview-title {
  }

  .preview-delete-button {
    margin-left: 20px;
  }
}

.current-id {
  display: hidden;
}
