body {
  padding: 0;
  margin: 0;
  --c-light-blue: #9ee3f8;
  --c-mid-blue: #69aaca;
  --text: #808080;
  color: var(--text);
  font-family: muli, sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 35px;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* background: linear-gradient(180deg, #1b84f6 0%, rgb(6, 91, 237) 100%); */
  background: var(--c-light-blue);
  background: -webkit-gradient(linear, left top, right bottom, from(var(--c-light-blue)), to(var(--c-mid-blue)));
  background: linear-gradient(to bottom right, var(--c-light-blue), var(--c-mid-blue));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type='text'] {
  outline: none;
  border: none;
  background-color: white;
  width: 70%;
  height: 40px;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
}

textarea {
  outline: none;
  border: none;
  background-color: white;
  width: 90%;
  min-height: 60vh;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  font-family: muli, sans-serif;
}

input[type='submit'] {
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--c-light-blue);
  height: 35px;
  min-width: 35px;
  border: solid 1px var(--c-mid-blue);
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}

input[type='submit']:hover {
  background: white;
  border: solid 3px var(--c-mid-blue);
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

input[type='submit']:active {
  background: rgba(153, 244, 200, 0.633);
  -webkit-transition: ease-out;
  transition: ease-out;
  height: 33px;
}

.glass {
  background: white;
  min-height: 95vh;
  width: 95%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notes-preview-container {
  background: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.05)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.preview-header {
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 10%;
}

.preview-container {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: start;
}

.note-container {
  background: transparent;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note {
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.note-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.note-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 20px;
}

.note-title {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.title {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.note-body {
  margin-top: 20px;
  padding-left: 20px;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.preview-card {
  width: 80%;
  height: 110px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
}

.preview-card .preview-delete-button {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */