/* Config */
$color-bg: white;
$color-particle: white;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

// /* Styles */
// html,
// body {
//   height: 100%;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 4rem;
//   overflow: hidden;
// }

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  // position: absolute;
  content: '';
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 5px;
  width: 5px;
}

.particle-1:after {
  @include particles(900);
  height: 4px;
  width: 4px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

h4 {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

h4:hover {
  color: #ff1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

body {
  padding: 0;
  margin: 0;
  --c-light-blue: #9ee3f8;
  --c-mid-blue: #69aaca;
  --text: #808080;
  color: var(--text);
  font-family: muli, sans-serif;
  font-size: 2rem;
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 35px;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

main {
  min-height: 100vh;
  height: fit-content;
  /* background: linear-gradient(180deg, #1b84f6 0%, rgb(6, 91, 237) 100%); */
  background: var(--c-light-blue);
  background: -webkit-linear-gradient(
    top left,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  background: -moz-linear-gradient(
    top left,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  background: linear-gradient(
    to bottom right,
    var(--c-light-blue),
    var(--c-mid-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type='text'] {
  outline: none;
  border: none;
  background-color: white;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
}

textarea {
  outline: none;
  border: none;
  background-color: white;
  width: 90%;
  min-height: 60vh;
  border-radius: 5px;
  color: var(--text);
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  font-family: muli, sans-serif;
}

input[type='submit'] {
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--c-light-blue);
  height: 35px;
  min-width: 35px;
  border: solid 1px var(--c-mid-blue);
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}

input[type='submit']:hover {
  background: white;
  border: solid 3px var(--c-mid-blue);
  transform: translate(0px, -3px);
}

input[type='submit']:active {
  background: rgba(153, 244, 200, 0.633);
  transition: ease-out;
  height: 33px;
}

.glass {
  position: absolute;
  background: white;
  min-height: 95vh;
  width: 95%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 25px;
  display: flex;
}

.notes-preview-container {
  background: white;
  flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.05)
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.preview-header {
  background: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10%;
}

.preview-container {
  flex: 9;
}

.preview {
  // display: grid;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
  justify-items: start;
  // flex-direction: column;
  // justify-content  : start;
  // align-items: center;
}

.note-container {
  background: transparent;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.note {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-header {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.note-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.note-title {
  padding-left: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.title {
  font-size: 20px;
  text-align: left;

  padding-left: 20px;
}

.note-body {
  margin-top: 20px;
  padding-left: 20px;
  flex: 9;
}

.preview-card {
  width: 80%;
  height: 110px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  .preview-title {
  }

  .preview-delete-button {
    margin-left: 20px;
  }
}

.preview-card:hover {
  box-shadow: 5px 5px 5px var(--c-light-blue);
}

.preview-card-clicked {
  width: 80%;
  height: 110px;
  margin: auto;
  background-color: white;
  border: solid 2px rgba(12, 242, 12, 0.646);
  border-radius: 5px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;

  .preview-delete-button {
    margin-left: 20px;
  }
}

.current-id {
  display: hidden;
}

.hide {
  display: hidden;
  height: 0px;
  width: 0px;
  color: transparent;
}

.font-container {
  margin-left: 100px;
}

.drop-button {
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--c-light-blue);
  height: 35px;
  min-width: 35px;
  border: solid 1px var(--c-mid-blue);
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}

.drop-button:hover {
  background: white;
  border: solid 3px var(--c-mid-blue);
  -webkit-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.drop-button:active {
  background: rgba(153, 244, 200, 0.633);
  -webkit-transition: ease-out;
  transition: ease-out;
  height: 33px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 5px;
  min-width: 160px;
  overflow: auto;
  box-shadow: 5px 5px 5px var(--c-light-blue);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text) !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background: var(--c-mid-blue);
  color: white !important;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
